.search-main-div {
  .input-search {
    background-color: rgb(214, 212, 212);
    padding-right: 40px;
  }
  .serch-btn {
    cursor: pointer;
    font-size: 20px;
    position: relative;
    right: 40px;
    top: 2px;
  }
}
.suggestion {
  padding: 0 1.1rem 0 0.5rem;
  .suggestion-img-div {
    height: 20rem;
    img {
      border-radius: 7px;
      height: 100%;
      object-fit: fill;
      width: 100%;
    }
  }
}
.ddd {
  padding: 0 10px 15px 10px;
}
